<h1>Sign up</h1>
  <div class="row">
    <div class="boxes">
      <%= form_for (@user) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <p><%= f.label :name %><br/>
        <%= f.text_field :name, class: 'sign_in_field' %></p>
        
        <p><%= f.label :email %><br/>
        <%= f.email_field :email, class: 'sign_in_field' %></p>
        
        <p><%= f.label :password %><br/>
        <%= f.password_field :password, class: 'sign_in_field' %></p>
        
        <p><%= f.label :password_confirmation, "Confirmation" %><br/>
        <%= f.password_field :password_confirmation, class: 'sign_in_field' %></p>
        
        <p><%= f.submit "Create my account", class: "btn submit_button" %></p>
      <% end %>
    </div>
  </div>