    <footer class = "footer">
        <ul class="main_list">
          <li class="inline"><ul class="side_list">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Winery List", winery_list_path %></li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul></li>
          <!--<li class="inline"><ul class="side_list">
            <li><%= link_to "NW Wineries List", '#' %></li>
            <li><%= link_to "Washington", '#' %></li>
            <li><%= link_to "Oregon", '#' %></li>
            <li><%= link_to "Idaho", '#' %></li>
          </ul></li>-->
          <li class="inline"><ul class="side_list">
            <li><%= link_to "Things To Do", '#' %></li>
            <li><%= link_to "Shopping", '#' %></li>
            <li><%= link_to "Activities", '#' %></li>
            <li><%= link_to "Restaurants", '#' %></li>
          </ul></li>
          <li class="inline"><ul class="side_list">
            <li><%= link_to "NW Wine in the News", '#' %></li>
            <li><%= link_to "Blog", '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><%= link_to "About", '#' %></li>
          </ul></li>
        </ul>
    </footer>