    <header  class = "header">
      <p><%= link_to "Northwest", root_path, id: "logo" %> <span id="cursive">Wineries</span></p>
      <ul>
        <li><%= link_to "Winery List", '#' %></li>
        <li><%= link_to "Things To Do", '#' %></li>
        <li><%= link_to "NW Wine in the News", '#' %></li>
        <li><%= link_to "Blog", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </header>